{% extends "gestcaptur/base_publico.html" %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="bi bi-check-circle-fill text-success" style="font-size: 4rem;"></i>
                    </div>
                    <h2 class="card-title text-success">Ficha salva com sucesso!</h2>
                    <p class="card-text">Obrigado por preencher seus dados.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
